.ProfileView{
    text-align: center;
    width: 80vw;
    height:100%;
    
}

.profile-header{
    margin-left:3%;
    height:100%;
}

.profile-header-container{
    width: 100%;
    margin-left: 6%;
    /* This keeps the header in place 
    while table expands */
    margin-top: 8%;
  
}

.avatar-on-profile {
background:rgb(230, 231, 156);
border-radius: 35%;
width:0%;
margin-left: 55.5%;
margin-bottom: 3%;
color:rgb(207, 137, 111);
box-shadow: 2px 2px 2px darkblue;

}

.table-container {
    /*check location of container*/
    background: rgb(233, 172, 102);
    width: 60%;
    margin-right: -20%;
    margin-left: 27.5%;
    
}


.total-score-container {
    margin-top: 3%;
    margin-left: 45%;
}
