.Categories3View, .Categories4View {
    width: 100%;
    height: 100%;
    text-align: center;
  
    
}

.categories3-header, .categories4-header {
    margin-top: 7%;
    margin-bottom: 2%;
    text-shadow: 0 0 5px #e0d493, 0 0 10px #4242d1;
    
}


.categories-404 {
    width: 50%;
    text-align: center;
    margin-left: 28%;
    text-shadow: 0 0 5px #e0d493, 0 0 10px #4242d1;
    
}

.pirates {
    margin-top: 3%;
    border: none;
    margin-left: 39%;
    height: 80vh;
    margin-left: 12%;
    margin-top: -3%;
    box-shadow: 5px 5px 5px grey;
    opacity: 0.8;
}

