.Mosaics1View, .Mosaics2View, .Mosaics3View, .Mosaics4View    {
    width: 100%;
    height: 100%;
    text-align: center;
}

.mosaics1-header, .mosaics2-header, .mosaics3-header, .mosaics4-header {
    margin-top: 8%;
    margin-bottom: 8%;
    text-shadow: 0 5px 8px #e27878, 5px 10px 10px #1515a1;
}


.mosaics-404 {
    width: 50%;
    text-align: center;
    margin-left: 28%;
    text-shadow: 0 5px 8px #e27878, 5px 5px 10px #050575;
}

.rocket {
    border:none;
    width: 100%;
    margin-top: -45%;
    opacity: 40%;
    margin-left: 18%;
}