/* This is used to check for container space */
.icon-container{
  background: black;
  width: 0%;
  margin-left: 92.5%;
  margin-top:-2%;
}


.DashboardView {
  margin-bottom: 40%;
}

.avatar {
background:rgb(230, 231, 156);
border-radius: 35%;
color:rgb(207, 137, 111);
box-shadow: 2px 2px 2px darkblue;

}


img#banner {
  width: 50%;
  height: 25%;
  margin-left: 32.5%;
  margin-bottom: -45%;
  margin-top: 4%;
  box-shadow: 2px 2px 2px darkblue;
}

h1 {
    display:flex;
    align-content:space-between;
    text-align: center;
    margin-left: 40%;
    margin-top: -3%;
    text-shadow: 4px 4px 4px lightslategray;
}

.welcome {
    margin-right: 2%;
    margin-left: 2%;
}

th#thead {
  /*to check location on table*/
  /* background: black; */
  text-align: center;
}

table {
  text-shadow: 4px 4px 4px lightslategray;
}

.total-score-container {
  text-shadow: 4px 4px 4px lightslategray;
}